.bigPic{width: 100%;height: auto;margin-right: auto;margin-left: auto;margin-top: 24px;}

.apply-Form{width: 100%;
    margin-right: auto;margin-left: auto;margin-top: 30px;}
.apply-Form .left-form{width: 55%;float: left;text-align: left;float: left;margin-top: 10px;
    font-size: 30px;color:rgb(143, 194, 31);letter-spacing: 3px; margin-bottom:50px;}
.applyForm{text-align:left;color: black;margin-top: 30px;margin-left: 170px;width: auto;}
.applyForm label{font-size: 22px;font-weight: normal;text-align: right;width: 160px}
.applyForm .form-context{margin-bottom: 10px}
.applyForm select{width: 200px;vertical-align: middle;height: 30px;font-size: 16px;letter-spacing: 3px}
.applyForm input{width: 300px;vertical-align: middle;height: 30px;font-size: 16px;letter-spacing: 1px}
.formBtn{width: 480px;height: 64px;margin-top: 40px;margin-left: auto;margin-right: auto}
.formBtn .a-btn{width: 229px;height: 64px;text-decoration: none;}
.a-btn:hover{text-decoration: none}

.sep{width: 10px;float: left;margin-top: 10px;height: 100%;overflow: hidden}

.right-form{width: 40%;text-align: center;float: left}
.right-logo{margin-left: auto;margin-right: auto;margin-top: 40px;}
.right-ddl{margin-left: auto;margin-right: auto;margin-top: 5px;
    font-size: 46px;font-weight: bold;letter-spacing: 5px;}
.right-til{margin-left: auto;margin-right: auto;margin-top: 5px;
    font-size: 26px;color: rgb(79,79,79);letter-spacing: 2px}
.right-QRcode{margin-left: auto;margin-right: auto;margin-top: 35px;}
.right-phone{margin-left: auto;margin-right: auto;margin-top: 50px;
    font-size: 22px;font-weight:bold;letter-spacing: 1px}


    