body{}
.sc{margin-left: auto;margin-right: auto;width: 1349px;height: 407px}
.indexPic{width: auto;height: auto;float: left;margin-top: 24px}
.motto{width: auto;height: 407px;color: #ffffff}
.tname{font-weight: bold; letter-spacing: 3px; float: right; font-size: 60px; margin-top: 40px; margin-right: 100px;}
.ttitle{font-size: 26px; float: right; margin-left: 30px; margin-right: 100px; letter-spacing: 2px;}
.tintro{float: right; width: 400px; margin-right: 100px; margin-top: 60px; font-size: 18px; text-indent: 2em; text-align: left; letter-spacing: 1px;}

.teacher{margin-left: auto;margin-right: auto;width: 1349px;height: 272px;margin-top:50px}
.teacherIco{ width: 450px;margin-top:39px;float: left}
.teacherIco div{ font-size: 40px;color: rgb(254,198,27);margin-top: 35px;letter-spacing: 3px}

.teacherIntro{width: 859px;height: 272px;float: right}
.teacherIntro img{float: left; margin-top: 33px; margin-left: 40px;}
.teacherIntro .name{font-size: 54px; font-weight: bold; text-align: left; width: 580px; float: right; margin-top: 45px;}
.teacherIntro text{font-size: 26px; float: right; margin-top: 30px; color: rgb(230, 170, 80); margin-right: 100px;margin-top:30px}
.teacherIntro .slo{font-size: 40px;float: left; margin-top: 30px; margin-left: 110px; letter-spacing: 3px;}

.hbr{width: auto;margin-left: auto;margin-right: auto;margin-top:50px}

.news{width:1349px;height:272px;margin-left: auto;margin-right: auto;margin-top:50px}
.news .newsIco{width: 450px;float: left}
.news .tx{ font-size: 40px;color:rgb(143, 194, 31);margin-top: 35px;letter-spacing: 3px}
.news .newsTitle{width: 899px;float: left}
.news .newsTitle .tb{margin-left: 30px}
.news .newsTitle .tb tr{line-height: 35px}
.news .newsTitle td,.news-a{font-size:20px;color: #797979;text-decoration: none;text-align: left;margin-left: 30px}
td a:hover{text-decoration: none ;color: rgb(143, 194, 31)}

.th{width: 1349px;margin-right: auto;margin-left: auto;height: 130px}
.th .question{width: 449px;height: 130px;float: left}
.th .reason{width: 449px;height: 130px;float: left}
.th .campus{width: 449px;height: 130px;float: left}
.th img{float: left;margin-left: 69px}
.th .thtx{float: left;font-size: 40px;color:rgb(254,198,27);margin-top: 35px;margin-left: 15px;letter-spacing: 3px}

.fo{width: 1349px;margin-right: auto;margin-left: auto;height: 513px}
.fo-fi{float: left;width: 291px;height: 480px;text-align: left;color: #ffffff;margin-left: 79px;margin-top: 30px}
.fo-fi .q{width: auto;font-size: 19px;margin-top: 40px}
.fo-fi a{color: #ffffff;}
.fo-fi .a{width: auto;font-size: 17px;line-height: 30px;margin-top: 5px}
.fo-fi a:hover{color: #ffffff;text-decoration: none}

.fo-sc{float: left;width: 291px;height: 480px;text-align: center;color: #000000;margin-left: 158px;margin-top: 30px}
.fo-sc .q{width: auto;font-size: 21px;margin-top: 40px}
.fo-sc .a{width: auto;font-size: 17px;line-height: 30px;}

.fo-th{float: left;width: 301px;height: 480px;text-align: left;color: #ffffff;margin-left: 153px;margin-top: 30px}
.fo-th .q{width: auto;font-size: 19px;margin-top: 40px}
.fo-th .a{width: auto;font-size: 17px;line-height: 30px;;margin-top: 5px}
.fo-th a{color: #ffffff;}
.fo-th a:hover{color: #ffffff;text-decoration: none}