<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:s="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<s:http pattern="/res/lib/zTree" security="none"/>
	
	<s:http auto-config='true'>
		<s:intercept-url pattern="/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<s:intercept-url pattern="/res/lib/zTree" access="ROLE_USER" />
		
		<sec:form-login login-page="/login.jsp" default-target-url="/user/login" authentication-failure-url="/login.jsp?error=true"/>
		
		<s:session-management>
			<s:concurrency-control
				max-sessions="1" error-if-maximum-exceeded="true" />
		</s:session-management>
	</s:http>

	<beans:bean id="filterSecurityInterceptor" class="com.ddl.security.MyFilterSecurityInterceptor" >
		<beans:property name="authenticationManager" ref="authenticationManager"/>
		<beans:property name="accessDecisionManager" ref="accessDecisionManager"/>
		<beans:property name="securityMetadataSource" ref="securityMetadataSource"/>
		
	</beans:bean>
	
	<s:authentication-manager alias="authenticationManager">
		<s:authentication-provider>
			<!-- <s:user-service>
				<s:user name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" />
				<s:user name="bob" password="bobspassword" authorities="ROLE_USER" />
			</s:user-service> -->
			<s:user-service user-service-ref="userDetailsService"/>
		</s:authentication-provider>
	</s:authentication-manager>
	
	<beans:bean id="userDetailsService" class="com.ddl.security.MyUserDetailsService" />
	<beans:bean id="securityMetadataSource" class="com.ddl.security.MyInvocationSecurityMetadataSource" />
	<beans:bean id="accessDecisionManager" class="com.ddl.security.MyAccessDecisionManager" />
</beans>