<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet"
	type="text/css" />
<title>add Users</title>
</head>
<body>
	<form id="form-member-add"
		enctype="multipart/form-data" method="post"
		class="form form-horizontal">
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>选择文件：</label>
			<input type="file" id="dataList" name="dataList"
				nullmsg="文件不能为空" multiple />
			<div class="col-4"></div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" type="button"
					onclick="finish();" value="完成">
			</div>
		</div>
	</form>
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.cookie.js"></script>
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery-ui.js"></script>
	<script type="text/javascript"
		src="lib/jquery/1.9.1/jquery.iframe-transport.js"></script>
	<script type="text/javascript"
		src="lib/jquery/1.9.1/jquery.fileupload.js"></script>
	<script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script>
	<script type="text/javascript" src="js/H-ui.js"></script>
	<script type="text/javascript" src="js/H-ui.admin.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			var jsonData = {};
			jsonData.adminId = $.cookie("adminId");
			
			$("#dataList").fileupload({
				url : '/ddl/data/dataAddList',
				sequentialUploads : true,
				dataType:'json',
				formData:jsonData
			}).bind('fileuploaddone', function(e, data) {
				if (data.result.code == 200)
					layer.msg("成功添加"+ data.result.num,{time:1000});
				else if (data.result.code == 400)
					layer.msg("添加失败, 有重复，请重新尝试",{time:1000});
				else{
					layer.msg("添加失败， 请重新尝试",{time:1000});
				}
			});
		}
		function finish(){
			parent.location.reload();
			layer.close();
		}
	</script>
</body>
</html>